In [13]:
%reload_ext autoreload
%autoreload 120
%matplotlib inline

In [14]:
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import scipy.sparse as sp
import pickle
import os

In [15]:
folder = 'src/data'

In [16]:
products = pd.read_csv(folder + '/' + 'products.csv').set_index('product_id'); products.head()

,product_name,aisle_id,department_id
product_id,,,
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
5,Green Chile Anytime Sauce,5,13

In [17]:
orders = pd.read_csv(folder + '/' + 'order_products__train.csv'); orders.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

## Constructing the item-item matrix

In [18]:
order_groups = orders.groupby('order_id')

In [19]:
matrix = {} #sparse
for order_id in order_groups.groups.keys():
    cart = order_groups.get_group(order_id)['product_id'].sort_values().to_list()
    for i, el in enumerate(cart):
        if el not in matrix:
            matrix[el] = {}
        # lower or upper triangle matirx --> save memory (symmetric)
        for j in cart[(i+1):]:
            matrix[el][j] = matrix[el].get(j, 0) + 1

We can remove values that are 1 as they don't give a lot of insight and may take a lot a space

In [21]:
delkeys = []
for i in matrix.keys():
    for k,v in matrix[i].items():
        if v == 1:
            delkeys.append((i,k))

len(delkeys)

4468295

In [22]:
for i,j in delkeys:
    del matrix[i][j]

In [24]:
with open('output/item_matrix.pkl', 'wb') as f:
    pickle.dump(matrix, f)

In [40]:
with open('output/item_matrix.pkl', 'rb') as f:
    matrix = pickle.load(f)

In [44]:
def get_product(df, prd):
    return df.loc[prd].product_name

In [27]:
mat = sp.dok_matrix((len(products),len(products)), dtype=np.int8)

for ix1, ixx2 in matrix.items():
    for ix2 in ixx2:
        mat[ix1, ix2] = ixx2[ix2]

mat = mat.transpose().tocsr()

In [28]:
def get_all_cocart(sp_mat, pid):
    # sp_mat[pid] column product count, row product count: sp_mat.loc[pid] (index is the product id) *triangular matrix*
    return pd.concat((sp_mat[pid], sp_mat.loc[pid])).dropna()

In [29]:
smat = pd.DataFrame.sparse.from_spmatrix(mat)

In [45]:
def print_cocart(pid):
    print(f'item: {get_product(products, pid)}')
    for idx, val in get_all_cocart(smat, pid).nlargest(10).iteritems():
        if val > 0:
            print(get_product(products, idx), val)

Now we can take this step and reconstruct it with the entire dataset. That will be the objective in notebook 3 and 4 followed by some comments on the result

In [46]:
print_cocart(1)

item: Chocolate Sandwich Cookies
Clementines 12
Milk Chocolate Almonds 12
Chocolate Chip Cookies 12
Cheez-It Cheddar Cracker 11
Pub Mix 11
Trail Mix 10
Soda 9
Organic Simply Naked Pita Chips 9
Original Rice Krispies Treats 8
Whole Grain Cheddar Baked Snack Crackers 8

C:\Users\kaito_kid14\AppData\Local\Temp\ipykernel_35156\4250191806.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for idx, val in get_all_cocart(smat, pid).nlargest(10).iteritems():